<form action="/figures" method="post">
  <label>Figure Name</label>
  <input type="text" name="<%= @figure.id %>" value="<%= @figure.name %>">
  <label>Landmark Name</label>
  <input type="text" name="<%= @figure.landmark_id %>" value="<%= @figure.landmark.name %>">




<input type="submit" value="Submit">
</form>
